* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #24406a;
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: white;
    text-align: center;
    font-size: 60px;
}